:root {
    --spacing-m: 15px;
    --spacing-sm: 8px;
    --spacing-s: 5px;

    --color-primary: black;
    --color-selected: gainsboro;

    --transition-05: all 0.3s ease-in-out;
}

body {
    font-family: sans-serif;

    font-weight: 400;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: underline;
    background-color: transparent;
    padding: 4px 4px 2px 4px;
    border-radius: 5px;
}

a:hover {
    color: var(--color-dim);
    background-color: var(--color-selected);
    text-decoration: none;

}

header {
    padding: var(--spacing-m);
    border-bottom: 1px solid black;
    text-align: center;
}

p {
    padding: 0 var(--spacing-s);
    width: 100%;
    box-sizing: border-box;
    margin: var(--spacing-s) 0;
}

button {
    border: none;
    background-color: transparent;
}

.no-line {
    text-decoration: none !important;
}

/*///////////// MESSAGES /////////////*/

.alert {
    background-color: rebeccapurple;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 350px;
    font-size: 80%;
    padding: 5px;
    max-width: 100%;
}


/*///////////// ASSETS /////////////*/

#follow {
    color: var(--color-selected);
}

.selected {
    color: var(--color-selected);
}

.selected:hover {
    color: var(--color-dim);
    background-color: var(--color-selected);
}

/*///////////// INFOS content /////////////*/

.line-block {
    padding: var(--spacing-sm);
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}



.line-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-title {
    color: black;
    border-radius: 5px;
}

#info-help{
    background-color: gainsboro;
    position: absolute;
bottom: 0;
}

#info-help:hover, #close:hover{
    cursor: pointer;
}

#close {
    transform: rotate(270deg);
    text-decoration: none;
}

.info-arrow {
    transform: rotate(90deg) !important;
}

.info-text {
    padding: var(--spacing-s) 4px 2px 4px;
    display: none !important;
}

.info-hide {
display: block !important;
}


/*///////////// A /////////////*/

.a-line-block {
    width: 100%;
    box-sizing: border-box;

}

.a-full-header {
color: black;
text-decoration: underline;
background-color: transparent;
padding: var(--spacing-sm);
width: 100%;
box-sizing: border-box;
display: block;
    border-radius: 0;
    border-bottom: 1px solid black;
}

/*///////////// COLUMNS /////////////*/

.column {
    display: grid;
}

.col1 {
    grid-template-columns: repeat(1, 1fr);
}

.col2 {
    grid-template-columns: repeat(2, 1fr);
}

.col3 {
    grid-template-columns: repeat(3, 1fr);
}

.full-h {
    height: 100%;
}

/*///////////// COLUMNS content /////////////*/

.column>div {
    border-right: 1px solid black;
    height: 100%;
}

.column>div:nth-last-child(1) {
    border-right: none;
    height: 100%;
}


.expand {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition: var(--transition-05);
}

.expand1 {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    transition: var(--transition-05);
}

.expand2 {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    transition: var(--transition-05);
}

.expand3 {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    transition: var(--transition-05);
}

.expand4 {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
    transition: var(--transition-05);
}

.expand5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    transition: var(--transition-05);
}

/*///////////// IFRAMES /////////////*/

iframe {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    outline: none;
    border: none;
}